.Nav__container {
  background-color: #101010ed;
}

.Nav__side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #101010ed;
}

.SingIn {
  padding-right: 50px;
  text-decoration: none;  
  color: white;
}

.MovieWeb {
  padding-left: 30px;
  text-decoration: none;
  color: red;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -2px;
}